html {
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    color: #626262;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

a:any-link {
    color: #626262;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 0;
    display: block;
    /* color: #626262; */

}

    .main-nav {
    display: block;
    padding: 72px 0px 100px 0px;
}

.main-menu{
    display: block;
    color: inherit;
    text-align: center;
    font-size: 0px;
    /* color: #626262; */

    

}

a:hover,
a:focus {
    color: #03a9f4;
}
li.main-menu-iteam a{
    text-decoration: none;

}

.main-menu-iteam{
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    /* color: #626262; */
    
}

.main-menu-iteam:not(:last-child){
    margin-right: 100px;
    }
main.main-view {
    padding-bottom: 70px;
}
section.main-list {
    display: block;
    margin: 0;
    font-size: 0px;
    /* убираем 1/4 от размера шрифта с края блока  */
    text-align: left;
    padding-bottom: 54px;

}

.main-list-iteam {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
}

.main-list-iteam:nth-child(2n) {
    margin-right: 0;
}

h2 {
    font-size: 14px;
    text-transform: uppercase;
    color: #b4ad9e;
    font-family: "Ubundu light", serif;
    margin-bottom: 28px;
}

h3 {
    font-size: 30px;
    font-family: "Playfair Display", serif;
    color: #626262;
    margin-bottom: 34px;
}

p {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    color: #626262;
    margin-bottom: 0;

}

.load {
    display: block;
    width: 164px;
    height: 60px;
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    border-color: #626262;
    margin: auto;
    background-position: 50 50;
    position: centre;
    background-color: #fff;
}
 