.press-the-button {
  min-width: 150px;
  color: $svg-fill-color;
  font-size: $main-font-size;
  font-family: $nav-font-style;
  border: none;
  background-color: $background-color;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
