.services__icon {
  &::before {
    content: '';
    display: block;
    height: 32px;
    width: 32px;
    fill: #95e1d3;
    background-size: contain;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0 25px;
  }
}

.services__icon--photography::before {
  background-image: url(../images/before-image/icon--photography.svg);

}

.services__icon--web::before {
  background-image: url(../images/before-image/icon-web.svg);
}

.services__icon--creativity::before {
  background-image: url(../images/before-image/icon--creativity.svg);
}

.services__icon--seo::before {
  background-image: url(../images/before-image/icon--seo.svg);
}

.services__icon--css::before {
  background-image: url(../images/before-image/icon--css.svg);
}

.services__icon--digital::before {
  background-image: url(../images/before-image/icon--digital.svg);
}
