.under-card {
    text-align: center;
    padding-top: 30px;

}

.under-card__name {
    margin: 0;
    padding: 0;
    font-size: $main-font-size;
    font-family: $nav-font-style;
    color: $section-title-color;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 18px;


}

.under-card__description {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: $main-font-style;
    color: $services__item-p-font-color;
    font-style: italic;
    line-height: 1.6;
    text-transform: capitalize;

}