$main-font-style: 'Roboto', sans-serif;
$nav-font-style: 'Montserrat', sans-serif;
$descr-title-font-style:'Kaushan Script', "open sans", sans-serif;
$main-font-size: 14px;
$descr-h2-font-size: 72px;
$descr-h3-font-size: 150px;
$section__title--name-font-size: 24px;
$main-font-weight: 700;
$services-name-font-weight: 600;
$container-width: 1200px;
$back-ground-image: url(../../images/Layer15.png);
$nav-list-min-width: 624px;
$services__item-max-width: 300px;
$main-font-color: #626262;
$svg-fill-color: #ffffff;
$svg-activ-color:#fce38a;
$btn-activ-color: #ea8a89;
$after-color: #f38181;
$background-color: #95e1d3;
$services__item-p-font-color: rgb(153, 153, 153);
$section-title-color: rgb(51, 51, 51);
$footer-border: #e5e5e5;
$svg-height: 18px;
$svg-width: 18px;
$card-width: 380px;
$card-height: 470px;
